.DS_Store
node_modules
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Secret encryption keys
.env.keys

# Local files
*.local

# Sentry config file
.sentryclirc

# Playwright results
test-results/
# Testing cookies and local storage
playwright-tests/auth-state.json

# Temporary files
tmp/